[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
python-dotenv = "*"
tortoise-orm = {extras = ["asyncpg"], version = "*"}
aerich = "*"

[dev-packages]
yapf = "*"

[requires]
python_version = "3.8"
